.bg{
     background-image: url('../img/banner.jpg');
     background-size: cover;
     min-height: 960px;
}
.header{
   
    width: 100%;
    
    color: whitesmoke;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    min-width: 430px;
   

    
    
    

    .home{ 
        display: flex;
        align-items: center;
       
    }

    .navheader{
        justify-content: stretch;
    }

   
   
    .imglogo{
        height: 7rem;
    
    }

    .discover{
       position: relative;
       left: 2rem;
    }


   

    a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.2rem;
        text-decoration: none;
        align-items: center;
        padding: 0.8rem;
        border-radius: 0.5rem;
        background-color:rgba($color: whitesmoke, $alpha: 0.1);  
    }

    h1{
        font-size: 2rem;
    }

}