.bg{
     min-height: 700px;
     width: 100%;
     background-color:black;
    
    
}

.bg video{
    position:absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    filter: blur(10px);
}

.overlay{
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.4);
}
.header{
   position: absolute;
    width: 100%;
    color: whitesmoke;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    min-width: 430px;
    z-index:2;

    .home{ 
        display: flex;
        align-items: center;
       
    }

    .navheader{
        justify-content: stretch;
    }

   
   
    .imglogo{
        height: 5rem;
    
    }

    .discover{
       position: relative;
       left: 2rem;
    }


   

    a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 1rem;
        text-decoration: none;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color:rgba($color: whitesmoke, $alpha: 0.1);  
    }

    h1{
        font-size: 2rem;
    }

}

@media all and (max-width:769px){
    .header{
    position: absolute;
    color: whitesmoke;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    z-index:2;

    .imglogo{
        height: 4rem;
    
    }
    }

    .navheader{
        display: none;
    }

    .discover{
        display: none;
     }



}