
.luts{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
 
}

.lutbox{
  
    padding: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
   

    .lutimg{
    background-image: url("../img/franco0.png");
    background-size: cover;
    width: 50%;
    height: 500px;;

        &--1{
            display: flex;
            width: 50%;
            height: 500px;
            background-image: url("../img/franco0.png");
            background-size: cover;
        }

        &--2{
            display: flex;
            width: 50%;
            height: 500px;
            background-image: url("../img/franco1.png");
            background-size: cover;
        }

        &--3{
            display: flex;
            width: 50%;
            height: 500px;
            background-image: url("../img/franco2.png");
            background-size: cover;
        }

        &--4{
            display: flex;
            width: 50%;
            height: 500px;
            background-image: url("../img/franco3.png");
            background-size: cover;
        }
    }
}

.lutcontent{
    width: 50%;
    padding-top: 3rem;
    padding-left: 3rem;
    color: whitesmoke;

    p{
        font-size: 1.5rem;
    }
}

.lutbtncontent{
    width: 50%;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    label{
        margin: 0;
        border: 2px solid whitesmoke;
        padding: 5px;
        border-radius: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        font-size: 0.8rem;
    }
}

    .lutbtncontent label:hover{
        background: whitesmoke;
        color: black;
        
    }

    .btnlut{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.2rem;
        background-color:whitesmoke;
    }