.imgslider{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background:#131313;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}


.manualnav{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manualbtn{
border: 2px solid whitesmoke;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manualbtn:not(:last-child){
    margin-right: 40px;
}

.manualbtn:hover{
    background: whitesmoke;
}

#radiobtn1:checked ~ .first{
    margin-left: 0;
}
#radiobtn2:checked ~ .first{
    margin-left: -20%;
}
#radiobtn3:checked ~ .first{
    margin-left: -40%;
}

.autonav{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;


}

.autonav div{
border: 2px solid whitesmoke;
padding: 5px;
border-radius: 10px;
transition: 1s;

}

.autonav div:not(:last-child){
    margin-right: 40px;
}

#radiobtn1:checked~.autonav .autobtn1{
    background: whitesmoke;
}

#radiobtn2:checked~.autonav .autobtn2{
    background: whitesmoke;
}

#radiobtn3:checked~.autonav .autobtn3{
    background: whitesmoke;
}
