.imgslider{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background:black;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

    
    .slides{
    width: 100%;
    height: 100%;
    display: flex;
    }

}


.slides input{
    display: none;
}

.slide{
    width: 100%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}


.manualnav{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manualbtn{
border: 2px solid whitesmoke;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manualbtn:not(:last-child){
    margin-right: 40px;
}

.manualbtn:hover{
    background: whitesmoke;
}

#radiobtn1:checked ~ .first{
    margin-left: 0;
}
#radiobtn2:checked ~ .first{
    margin-left: -100%;
}
#radiobtn3:checked ~ .first{
    margin-left: -200%;
}

.autonav{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;


}

.autonav div{
border: 2px solid whitesmoke;
padding: 5px;
border-radius: 10px;
transition: 1s;

}

.autonav div:not(:last-child){
    margin-right: 40px;
}

#radiobtn1:checked~.autonav .autobtn1{
    background: whitesmoke;
}

#radiobtn2:checked~.autonav .autobtn2{
    background: whitesmoke;
}

#radiobtn3:checked~.autonav .autobtn3{
    background: whitesmoke;
}



@media all and (max-width:600px){

    .imgslider{
        margin: 0;
        padding: 0;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items:center;
        background:black;
    }

    .slider{
        width: 400px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
    
        
        .slides{
        width: 100%;
        height: 100%;
        display: flex;
        }
    
    }


    .slide img{
        width: 400px;
        height: 250px;
    }


    .manualnav{
        position: absolute;
        width: 400px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        }

        .autonav{
            position: absolute;
            display: flex;
            width: 400px;
            justify-content: center;
            margin-top: 460px;
        
        
        }
    
}
